<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>User Registration</title>
    </head>
    <body>
        <form method = 'post' action="/user">
            <label>
                Username:
                <input th:field="${user.username}">
            </label>
            <p class="error" th:errors="${user.name}"></p>
            <br/>
            <label>
                Email:
                <input th:field="${user.email}">
            </label>
            <p class="error" th:errors="${user.email}"></p>
            <br/>
            <label>
                Password:
                <input th:field="${user.password}">
            </label>
            <p class="error" th:errors="${user.password}"></p>
            <br/>
            <label>
                Verify Password:
                <input type="password" name="verify" th:value="${verify}">
            </label>
            <br/>

            <p th:text = "${error}"></p>

            <input type="submit">

        </form>

    </body>
</html>